.content {
    width: 100vw;
    height: 100vh;
}

.content .container { 
    width: 100%;
    height: 100%;
}

.content .container .main {
    display: grid;
    justify-content: end;

    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.content .container .main .content-wrapper {
    width: 150px;
    height: 100px;
    background: #1F0954;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content .container .main .content-wrapper a {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    text-decoration: none;    
}

.content .container .main .content-wrapper:hover {
    transform: scale(1.1, 1.1);
    transition: 500ms;
}
.content .container .main .content-wrapper a p{
    color: #ffffff;
    margin-left: 5px;
}


