.header {
    width: 100%;
    height: 50px;
    position: fixed;
    top:0;
    left: 0;
    background: #3D7AFD;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .arrow {
    width: 50px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .arrow a {
    background: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.header .arrow a:hover{
    background: #2F69E7;
}

.header .logo {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

